@tailwind base;
@tailwind components;
@tailwind utilities;
.pinkwhite {
    background-color: #D8406D;
}

.text-pinkwhite {
    color: #D8406D;
}

.bluewhite {
    background-color: #d3ddfd;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}


/*
w-2/5	width: 40%;
w-3/5	width: 60%;
*/

.w-2\/5 {
    width: 40%;
}

.w-3\/5 {
    width: 60%;
}


/*
rounded-xl	border-radius: 0.75rem;
rounded-2xl	border-radius: 1rem; */

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.bg-green-400 {
    background-color: #4ade80;
}

.bg-blue-800 {
    background-color: #1e40af;
}


/* Styles for new dashboard */

.nunito {
    font-family: 'nunito', font-sans;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.border-l-1 {
    border-left-width: 1px;
}

hover\:border-none:hover {
    border-style: none;
}

#sidebar {
    transition: ease-in-out all .3s;
    z-index: 9999;
}

#sidebar span {
    opacity: 0;
    position: absolute;
    transition: ease-in-out all .1s;
}

#sidebar:hover {
    width: 150px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    /*shadow-2xl*/
}

#sidebar:hover span {
    opacity: 1;
}

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}